<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.board.mapper.BoardMapper">
    <sql id="boardColumns">
        idx,
        bd_title,
        bd_content,
        bd_writer,
        bd_date,
        delete_yn,
        bd_image
    </sql>

    <insert id="insertBoard" parameterType="com.spring.board.vo.BoardDTO">
        INSERT INTO board_tbl_01 (
            bd_title,
            bd_content,
            bd_writer
        ) VALUES (
                #{bdTitle},
                #{bdContent},
                #{bdWriter},
                NOW(),
                'N',
                #{bdImage}
                )
    </insert>
    <select id="selectBoardDetail" parameterType="long" resultType="BoardDTO">
        SELECT
                <include refid="boardColumns"></include>
        FROM
                board_tbl_01
        WHERE
                idx = #{idx}
    </select>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE board_tbl_01
        SET
                bd_title = #{bdTitle},
                bd_content = #{bdContent},
                bd_writer = #{bdWriter},
                bd_image = #{bdImage}
        WHERE
                idx = #{idx}
    </update>
    <update id="deleteBoard" parameterType="BoardDTO">
        UPDATE board_tbl_01
        SET
                delete_yn = 'Y'
        WHERE
                idx = #{idx}
    </update>
    <select id="selectBoardList" resultType="BoardDTO">
        SELECT
            <include refid="boardColumns"></include>
        FROM
                board_tbl_01
        WHERE
                delete_yn = 'N'
        ORDER BY
                idx DESC,
                bd_date DESC
    </select>
</mapper>